// Functions
@import 'functions/colors';
@import 'functions/get-value-if-key-exists';
@import 'functions/img-path';
@import 'functions/rem';
@import 'functions/strip-units';
@import 'functions/transition';

// Mixins
@import 'mixins/get-font-size';
@import 'mixins/gradient';
@import 'mixins/headings';
@import 'mixins/headingstyles';

// Config
@import 'config';

// Bootstrap
@import 'bootstrap/base';

// Utils
@import 'utilities/section';

// Base
@import 'base/base';
@import 'base/form';
@import 'base/list';
@import 'base/type';

// Components
@import 'components/hero';
@import 'components/image';
@import 'components/svg-icon';
@import 'components/section';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
