// We use the Responsive font-sizing of Bootstrap by enabling the responsive-font-sizes boolean.
$enable-responsive-font-sizes: true; // Leave this on true

// Set the maximum font-sizes here,
// the Boostrap RFS takes care of the rest
$font-sizes: (
  h1: 150px,
  h2: 120px,
  h3: 70px,
  h4: 40px,
  h5: 30px,
  h6: 24px,
  h7: 20px,
  p: 20px,
  menu: 50px,
  label: 30px,
  body-large: 30px,
  text-small: 15px,
  body-text: 17px,
  button-xs: 20px,
  // You can add more key value pairs,
  // like an intro text for example:
  // intro: 18px,
  //
  // Use it like this:
  // @include get-font-size(intro);
);
